/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 16, 2018, 3:35:42 PM
    Author     : pc
*/

  
  ul.menu{list-style: none; padding:0; }
ul.menu li a {text-decoration: none;}
ul.menuitem{display: none; list-style: none; padding:0; padding-left:10px;}
ul.menuitem li a {text-decoration: none;}
ul.menu:hover li ul.menuitem{display: block} 
  
.tablecarac {
    border: 1px solid #656565;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px 5px #888888;
    width: 300px;
    margin-bottom: 15px;
    border-spacing: 0;
}
.tablecarac thead {
    border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 5px;
    background-color: slateblue;
}
.tablecarac thead th{
    background: slateblue; 
}

.tablecarac thead th:first-of-type{
    border-top-left-radius: 10px; 
}

.tablecarac thead th:last-of-type{
    border-top-right-radius: 10px; 
}

body {
    background-image: url("images/wallpaper.jpg");
}