 


#Login {
  display: table;
  margin: 0 auto;
}

ul {
  display: inline;
  margin: 0;
  padding: 0;
}
ul li {display: inline-block;}
ul li:hover {}
ul li:hover ul {display: block;}
ul li ul {
  position: absolute;
  width: 150px;
  display: none;
}
ul li ul li { 
  background: white; 

}
ul li ul li a {display:block !important;} 
ul li ul li:hover {}




 ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
           text-align: center;
	   color : activeborder;
	   text-align : center;
	   font-weight: normal;
}





 ul.menu{list-style: circle; padding:0; }
ul.menu li a {text-decoration: none;}
ul.menuitem{display: none; list-style: none; padding:0; padding-left:10px;}
ul.menuitem li a {text-decoration: none;}
ul.menu:hover li ul.menuitem{display: block} 

 table tr:hover td {
     color: #D2691E;
 }
 
 .dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}