 


#Login {
  display: table;
  margin: 0 auto;
}

ul {
  display: inline;
  margin: 0;
  padding: 0;
}
ul li {display: inline-block;}
ul li:hover {background: slateblue;}
ul li:hover ul {display: block;}
ul li ul {
  position: absolute;
  width: 150px;
  display: none;
}
ul li ul li { 
  background: white; 
  display: block; 
}
ul li ul li a {display:block !important;} 
ul li ul li:hover {}




 ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
           text-align: center;
	   color : activeborder;
	   text-align : center;
	   font-weight: normal;
}





 ul.menu{list-style: circle; padding:0; }
ul.menu li a {text-decoration: none;}
ul.menuitem{display: none; list-style: none; padding:0; padding-left:10px;}
ul.menuitem li a {text-decoration: none;}
ul.menu:hover li ul.menuitem{display: block} 

